<h1>Ingrediente {{ VM.Elemento?.nombre }}</h1>

<form #miForm="ngForm">
  <table>
    <tbody>
      <tr>
        <th><label class="form-label" for="nombre">Nombre:</label></th>
        <th><label class="form-label" for="nombre">Tipo:</label></th>
        <th><label class="form-label" for="precio">Precio:</label></th>
      </tr>
      <tr>
        <td><input class="form-control" [class.is-invalid]="nombre.invalid" type="text" name="nombre" id="nombre"
            [(ngModel)]="VM.Elemento.nombre" #nombre="ngModel" required minlength="2" maxlength="50">
          <app-show-errors-messages [errors]="nombre.errors"></app-show-errors-messages>
        </td>
        <td><select name="tipo" id="tipo" [(ngModel)]="VM.Elemento.tipo">
            <option value="base">Base</option>
            <option value="salsa">Salsa</option>
            <option value="normal">Normal</option>
          </select>
          <app-show-errors-messages [errors]="nombre.errors"></app-show-errors-messages>
        </td>
        <td><input class="form-control" [class.is-invalid]="precio.invalid" type="number" name="precio" id="precio"
            [(ngModel)]="VM.Elemento.precio" #precio="ngModel" required min="0" required>
          <app-show-errors-messages [errors]="precio.errors"></app-show-errors-messages>
        </td>
      </tr>
      <tr>
        <td colspan="3">
          <input type="button" class="btn btn-success" value="Enviar" (click)="VM.send()" [disabled]="miForm.invalid" />
          <input type="button" class="btn btn-info" value="Volver" (click)="VM.cancel()" />
        </td>
      </tr>
    </tbody>
  </table>
</form>
