<nav>
  <ul>
    <li>
      <a routerLink="/" routerLinkActive="active"
        ><i class="las la-home"></i>Home</a
      >
    </li>

    <li>
      <a routerLink="/pizzas" routerLinkActive="active"
        ><i class="las la-pizza-slice"></i>Pizzas</a
      >
    </li>
    <li>
      <a routerLink="/pedido" routerLinkActive="active"
        ><i class="las la-question-circle"></i>Pedidos</a
      >
    </li>

    <li>
      <a routerLink="/ingredientes" routerLinkActive="active"
        ><i class="las la-phone-volume"></i>Ingredientes</a
      >
    </li>
    <li>
      <a routerLink="/usuarios" routerLinkActive="active"
        ><i class="las la-plus"></i>Usuarios</a
      >
    </li>
  </ul>
</nav>
