<form [formGroup]="miForm" [class.is-invalid]="miForm.invalid">
  <div class="form-group">
    <label>E-mail: </label>
    <input class="form-control" [class.is-invalid]="miForm?.get('email')?.invalid" type="text"
      formControlName="email">
    <span class="invalid-feedback">{{getErrorMessage('email')}}</span>
  </div>
  <div class="form-group">
    <label>Nombre: </label>
    <input class="form-control" [class.is-invalid]="miForm?.get('name')?.invalid" type="text"
      formControlName="name">
    <span class="invalid-feedback">{{getErrorMessage('name')}}</span>
  </div>
  <div class="form-group">
    <label>Apellidos: </label>
    <input class="form-control" [class.is-invalid]="miForm?.get('lastName')?.invalid" type="text"
      formControlName="lastName">
    <span class="invalid-feedback">{{getErrorMessage('lastName')}}</span>
  </div>
  <fieldset formGroupName="password">
    <div class="form-group">
      <label>Contraseña: </label>
      <input class="form-control" [class.is-invalid]="miForm?.get('passwordValue')?.invalid" type="password"
        formControlName="passwordValue">
      <span class="invalid-feedback">{{getErrorMessage('passwordValue')}}</span>
    </div>
    <div class="form-group">
      <label>Confirmar contraseña: </label>
      <input class="form-control" [class.is-invalid]="miForm?.get('password')?.invalid" type="password"
        formControlName="passwordConfirm">
      <span class="invalid-feedback">No coincide la confirmación</span>
    </div>
  </fieldset>
  <button class="btn btn-outline-primary" (click)="send()" [disabled]="miForm.invalid">Send</button>
</form>
<br><br>
{{ miForm.value | json }}
