<h1>Pizzas {{ VM.Elemento?.nombre }}</h1>
<form #miForm="ngForm">
  <p>
    Código:

    <input type="number" id="id" name="id" min="1" required />

    <br />
    Nombre:
    <input
      type="text"
      id="nombre"
      name="nombre"
      notblank
      minlength="2"
      maxlength="30"
    />

    Debe tener entre 2 y 30 letras

    <br />
    Ingredientes:
    <input type="text" id="tipo" name="tipo" minlength="2" />

    <br />
    Precio:
    <input type="number" id="precio" name="precio" min="5" />
  </p>

  <div class="form-group">
    <input
      type="button"
      class="btn btn-success"
      value="Enviar"
      (click)="VM.send()"
      [disabled]="miForm.invalid"
    />
    <input
      type="button"
      class="btn btn-info"
      value="Volver"
      (click)="VM.cancel()"
    />
  </div>
</form>
