<h1>Pedido</h1>
<form #miForm="ngForm" *ngIf="VM.carrito.HayCarrito">
  <div class="form-row">
    <div class="form-group col-md-4">
      <label class="form-label" for="nombre">Direccion:</label>
      <input class="form-control" [class.is-invalid]="direccion.invalid" type="text" name="direccion" id="direccion"
        [(ngModel)]="VM.Elemento.direccion" #direccion="ngModel" required minlength="2" maxlength="100">
      <app-show-errors-messages [errors]="direccion.errors"></app-show-errors-messages>
    </div>
    <ol>
      <li *ngFor="let linea of VM.Elemento.lineas">{{linea.idPizza}} Cantidad: {{linea.cantidad}}</li>
    </ol>
    <div class="form-group col-md-2">
      <label class="form-label" for="telefono">Importe:</label>
      {{VM.Elemento.importe}}
    </div>
    <div class="form-group col-md-4">
      <label class="form-label" for="estado">Estado:</label>
    {{VM.Elemento.estado}}
    </div>

  </div>
   <div class="form-group">
    <input type="button" class="btn btn-success" value="Enviar" (click)="VM.send()" [disabled]="miForm.invalid">
    <input type="button" class="btn btn-info" value="Volver" (click)="VM.cancel()">
  </div>
</form>
<div *ngIf="!VM.carrito.HayCarrito">
  <h2>El carrito no tiene pizzas.</h2>
</div>
