
.catalog-container {
  display: inline-flex;
  justify-content: center;
}
.pizza-container {
  display: flex;
  flex-direction: column;
}
*{
margin-left: 0.7% ;
margin-right: 0.5%;
font-family: Arial, Helvetica, sans-serif;
text-decoration: none;
color:blueviolet;
text-transform:uppercase;
font-weight: bold;
}
