.catalogoContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: stretch;
  }

.pizzaItem {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  width: 400px;
  height: 400px;
  margin: 0.5em;
  margin-bottom: 2rem;
  padding: 2rem;
  border-radius: 4px;
  background-color: #FFFFFF;
  border: 1px solid #dfe7ef;
  box-shadow: 0 2px 1px -1px #0003, 0 1px 1px #00000024, 0 1px 3px #0000001f;;
  }
