<table class="table table-striped table-hover">
  <thead>
    <tr class="table-info">
      <th class="display-4"></th>
      <th class="text-end">
        <button class="btn btn-success" routerLink="add"><i class="fas fa-plus"></i> Añadir</button>
      </th>
    </tr>
  </thead>
  <tbody>
    <div *ngFor="let item of VM.Listado" class="catalog-container">
        <div >
          <div >
            <div class="pizza-container" >
              <a  routerLink="/pizzas/{{item.id}}">
                {{item.nombre}}</a>
              <img  src="{{item.imgUrl}}"
                alt="Foto de {{item.nombre}}" width="300" height="300">
            </div>
            <div >
                <button (click)="carrito.add(item.id, item.precio, 1)"><i class="far fa-trash-alt"></i>Pedir</button>
            </div>
          </div>
        </div>
    </div>
  </tbody>
</table>



